venv/
venv_wsl/
hadoop-3.3.6/
hadoop-3.3.6.tar.gz
__pycache__/
*.pyc
.DS_Store
.env
**/vector_db/
**/uploads/
**/repos/
**/processed_docs/
**/embeddings/
**/target/
**/bin/
*.log
*.pdf
*.docx
backend/temp_git_ingest_*/
